[
  {
    "url": "https://articulo.mercadolibre.com.ar/MLA-1274307549-set-juego-kit-de-herramientas-maletin-de-aluminio-130-piezas-_JM",
    "referencePrice": 46995
  },
  {
    "url": "https://articulo.mercadolibre.com.ar/MLA-1265772534-set-de-herramientas-salkor-maletin-de-aluminio-130-pzas-_JM",
    "referencePrice": 49230
  }
]
